{% extends 'base.html' %}
{% block title %}Lista de Agenda{% endblock %}
{% block content %}
<h1>Agenda</h1>
<table>
    <thead>
        <tr>
            <th>data</th>
            <th>hora</th>
            <th>Paciente</th>
            <th>Médico</th>
        </tr>
    </thead>
    <tbody>
        {% for agenda in list_agendas %}
        <tr>
            <td>{{ agenda.data }}</td>
            <td>{{ agenda.hora }}</td>
            <td>{{ agenda.idPaciente }}</td>
            <td>{{ agenda.idMedico }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'cadastrar_agenda' %}">Cadastrar Nova Agenda</a>
{% endblock %}