{% extends 'base.html' %}
{% block title %}Lista de Fornecedores{% endblock %}
{% block content %}
<h1>Lista de fornecedores</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Razão Social</th>
            <th>CNPJ</th>
            <th>CEP</th>
            <th>Endereço</th>
            <th>Número</th>
            <th>Telefone</th>
            <th>E-mail</th>
        </tr>
    </thead>
    <tbody>
        {% for fornecedor in list_fornecedores %}
        <tr>
            <td>{{ fornecedor.id }}</td>
            <td>{{ fornecedor.nome }}</td>
            <td>{{ fornecedor.razaoSocial }}</td>
            <td>{{ fornecedor.cnpj }}</td>
            <td>{{ fornecedor.cep }}</td>
            <td>{{ fornecedor.endereco }}</td>
            <td>{{ fornecedor.numero }}</td>
            <td>{{ fornecedor.telefone }}</td>
            <td>{{ fornecedor.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'cadastrar_fornecedor' %}">Cadastrar Novo Fornecedor</a>
{% endblock %}