{% extends 'base.html' %}

{% block title %}Cadastrar Paciente{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Cadastro de Paciente</h2>
    
    <form method="post">
        {% csrf_token %}
        
        <!-- Primeira linha: Nome, CPF, Data de Nascimento -->
        <div class="row">
            <div class="col-md-4 mb-3">
                <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome" required>
            </div>
            <div class="col-md-4 mb-3">
                <input type="text" class="form-control" id="cpf" name="cpf" placeholder="000.000.000-00" required>
            </div>
            <div class="col-md-4 mb-3">
                <input type="text" class="form-control" id="dataNascimento" name="dataNascimento" placeholder="Data de Nascimento" required>
            </div>
        </div>
		
        <div class="row">
            <div class="col-md-4 mb-3">
                <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Telefone">
            </div>
            <div class="col-md-4 mb-3">
                <input type="email" class="form-control" id="email" name="email" placeholder="E-mail">
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4 mb-3">
                <input type="text" class="form-control" id="cep" name="cep" placeholder="CEP" required>
            </div>
            <div class="col-md-4 mb-3">
                <input type="text" class="form-control" id="endereco" name="endereco" placeholder="Endereço Completo">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <input type="text" class="form-control" id="numero" name="numero" placeholder="Número">
            </div>
        </div>

		<button type="submit" class="btn btn-primary">Salvar</button>
		<a href="{% url 'listar_pacientes' %}" class="btn btn-secondary">Cancelar</a>
    </form>

    <script>
        $(document).ready(function(){
            $('#cpf').mask('000.000.000-00');
            $('#telefone').blur(function(event) {
                if($(this).val().length == 15) { // Máscara para telefone celular
                    $(this).mask('(00) 00000-0000');
                } else {
                    $(this).mask('(00) 0000-0000');
                }
            });
            $('#cep').mask('00000-000'); // Máscara para CEP
            $('#dataNascimento').mask('00/00/0000'); // Máscara para Data de Nascimento
        });
    </script>
</div>
{% endblock %}