{% extends 'base.html' %}

{% block title %}Alterar Plano de Saúde{% endblock %}

{% block content %}
<h2 class="mb-4">Alterar Plano de Saúde</h2>

<form method="post">
    {% csrf_token %}
    
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome" value="{{ form.nome.value }}" required>
    </div>
    <div class="mb-3">
        <label for="cnpj" class="form-label">CNPJ</label>
        <input type="text" class="form-control" id="cnpj" name="cnpj" value="{{ form.cnpj.value }}">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">E-Mail</label>
        <input type="text" class="form-control" id="email" name="email" value="{{ form.email.value }}">
    </div>
    <div class="mb-3">
        <label for="telefone" class="form-label">Telefone Ex: (00) 00000-0000</label>
        <input type="text" class="form-control" id="telefone" name="telefone" value="{{ form.telefone.value }}">
    </div>
    <div class="mb-3">
        <label for="estado" class="form-label">Estado</label>
        <input type="text" class="form-control" id="estado" name="estado" value="{{ form.estado.value }}">
    </div>
    <div class="mb-3">
        <label for="cidade" class="form-label">Cidade</label>
        <input type="text" class="form-control" id="cidade" name="cidade" value="{{ form.cidade.value }}">
    </div>
    <div class="mb-3">
        <label for="endereco" class="form-label">Endereco</label>
        <input type="text" class="form-control" id="endereco" name="endereco" value="{{ form.endereco.value }}">
    </div>    

    <button type="submit" class="btn btn-primary">Salvar Alterações</button>
    <a href="{% url 'listar_plano_saude' %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}