{% extends 'base.html' %}

{% block title %}Cadastrar Plano de Saúde{% endblock %}

{% block content %}
<h2 class="mb-4">Cadastrar Plano de Saúde</h2>

<form method="post">
    {% csrf_token %}
	
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome do Plano de Saúde">
    </div>
    <div class="mb-3">
        <label for="cnpj" class="form-label">CNPJ</label>
        <input type="text" class="form-control" id="cnpj" name="cnpj" placeholder="CNPJ">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">E-Mail</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="E-Mail">
    </div>
    <div class="mb-3">
        <label for="telefone" class="form-label">Telefone Ex: (00) 00000-0000</label>
        <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Telefone">
    </div>
    <div class="mb-3">
        <label for="estado" class="form-label">Estado</label>
        <input type="text" class="form-control" id="estado" name="estado" placeholder="Estado">
    </div>
    <div class="mb-3">
        <label for="cidade" class="form-label">Cidade</label>
        <input type="text" class="form-control" id="cidade" name="cidade" placeholder="Cidade">
    </div>
    <div class="mb-3">
        <label for="endereco" class="form-label">Endereco</label>
        <input type="text" class="form-control" id="endereco" name="endereco" placeholder="Endereco Completo">
    </div>
    
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a href="{% url 'listar_plano_saude' %}" class="btn btn-secondary">Cancelar</a>
  </form>
{% endblock %}