{% extends 'base.html' %}
{% block title %}Lista de Médicos{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2 class="mb-1">
        <i class="bi bi-person">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z"/>
            </svg>
            Lista de Médicos
        </i>
    </h2>

    <form method="get" class="d-flex justify-content-between align-items-center mb-3" action="{% url 'pesquisar_medico' %}">
        <div class="d-flex w-100">
            <div class="d-flex w-75">
                <input type="text" name="search" class="form-control me-2" placeholder="Pesquisar por Nome ou Documento" value="{{ request.GET.search }}">
                <button type="submit" class="btn btn-primary">Pesquisar</button>
            </div>

            <div>
                <a href="{% url 'cadastrar_medico' %}" class="btn btn-success">
                    <i class="fas fa-plus"></i> Adicionar Médico
                </a>
            </div>
        </div>
        <div class="d-flex w3">
            <div class="form-check">
                <input type="checkbox" name="ativo" id="ativo" class="form-check-input" checked>
                <label for="ativo" class="form-check-label">Ativos</label>
            </div>
        </div>
    </form>

    <div class="table-responsive">
        <table class="table table-striped table-bordered align-middle">
			<thead class="text-center">
				<tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>CRM</th>
                    <th>Especialidade</th>
                    <th>Telefone</th>
                    <th>E-Mail</th>
                    <th>Ativo</th>
                    <th>Ações</th>
				</tr>
			</thead>
			{% if list_dados %}
			<tbody>
				{% for dados in list_dados %}
				<tr>
                    <td>{{ dados.id }}</td>
                    <td>{{ dados.nome }}</td>
                    <td>{{ dados.crm }}</td>
                    <td>{{ dados.especialidade }}</td>
                    <td>{{ dados.telefone }}</td>
                    <td>{{ dados.email }}</td>
                    <td class="text-center">
                        <input type="checkbox" name="ativo" id="ativo" class="form-check-input" {% if dados.ativo == True %}checked{% endif %} disabled>
                    </td>
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <a href="{% url 'alterar_medico' dados.id %}" class="btn btn-warning btn-sm">
                                <i class="fas fa-edit"></i> Alterar
                            </a>
                            <a href="{% url 'excluir_medico' dados.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja excluir este paciente ?')">
                                <i class="fas fa-trash-alt"></i> Excluir
                            </a>
                        </div>
                    </td>
				</tr>
				{% endfor %}
			</tbody>
			{% else %}
			<tbody>
				<tr>
					<td colspan="4" class="text-center">Nenhum médico encontrado.</td>
				</tr>
			</tbody>
			{% endif %}
        </table>
    </div>
</div>
{% endblock %}